html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, strong, sub, sup, b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	background: transparent;
}

* {
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}

html {
	&.overflow {
		overflow: hidden;
	}
}

body {
	font-family: 'Lato';
}

a {
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	transition: all .3s ease-in-out;
}

a:hover, a:active, a:focus {
	text-decoration: none;
}

input {
	border: none;
	background-color: transparent;
	outline: none;
	-webkit-appearance: none;
	color: #8a8987;
	
	&::placeholder {
		
	}
	&:focus {
		&::placeholder {
			
		}
	}
}
textarea {
	resize: vertical;
	border: none;
	background-color: transparent;
	outline: none;
	-webkit-appearance: none;
	
	&::placeholder {

	}
	&:focus {
		
		&::placeholder {
			
		}
	}
}

button {
	cursor: pointer;
	border: none;
	background-color: transparent;
	transition: all 0.3s ease-in-out;
	outline: none;
	-webkit-appearance: none;
}

select {
	cursor: pointer;
	border: none;
	background-color: transparent;
	transition: all 0.3s ease-in-out;
	outline: none;
	-webkit-appearance: none;
}

.wrapper {
	width: 100%;
	min-height: 100vh;
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

	&.index-bg {
		// background-image: url('../images/index-bg.jpg');
		background: #000000;
	}
}

.main {
	&.opacity {
		opacity: 0.75;
	}
}

.container {
	max-width: 1250px;
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
	position: relative;
	z-index: 1;

	&_width {
		max-width: 1600px;
	}
}

.overflow {
	overflow: hidden;
}

.btn-wrap {
	display: flex;
	justify-content: center;
	margin: 20px 0;
}

//scroll
.scroll-wrap::-webkit-scrollbar {
	width: 3px;
	background-color: #ccc;
}
.scroll-wrap::-webkit-scrollbar-thumb {
	background-color: $accent;
	border-radius: 2px;
}