extends ../layouts/default

block head
	- var pageTitle = '';

block wrapper
	.wrapper.index-bg
		block header
			include ../blocks/header/header

		block content
			main.main

				section.news-section
					.container
						.typography
							h1.wow.bounceInLeft Blog
						.news-wrap
							a(href="one-news.html").news.typography.wow.flipInX
								.news__wrap
									.news__img
										img(src="images/news.jpg", alt="")
									.news__info
										h4 May
										span Getting Back to Work
										h4 Getting Back to Work.The Tesla Team May 9, 2020
										p Tesla is the last major carmaker remaining in California, and the largest manufacturing employer in the State with more than 10,000 employees at our Fremont factory and 20,000 statewide. We understand the impacts COVID-19 has caused and have a responsibility to look out for the livelihoods and safety of our personnel, many of whom rely on us and have been out of work for weeks due to the impacts of shelter-in-place orders.
							a(href="one-news.html").news.typography.wow.flipInX
								.news__wrap
									.news__img
										img(src="images/news.jpg", alt="")
									.news__info
										h4 May
										span Getting Back to Work
										h4 Getting Back to Work.The Tesla Team May 9, 2020
										p Tesla is the last major carmaker remaining in California, and the largest manufacturing employer in the State with more than 10,000 employees at our Fremont factory and 20,000 statewide. We understand the impacts COVID-19 has caused and have a responsibility to look out for the livelihoods and safety of our personnel, many of whom rely on us and have been out of work for weeks due to the impacts of shelter-in-place orders.
							a(href="one-news.html").news.typography.wow.flipInX
								.news__wrap
									.news__img
										img(src="images/news.jpg", alt="")
									.news__info
										h4 May
										span Getting Back to Work
										h4 Getting Back to Work.The Tesla Team May 9, 2020
										p Tesla is the last major carmaker remaining in California, and the largest manufacturing employer in the State with more than 10,000 employees at our Fremont factory and 20,000 statewide. We understand the impacts COVID-19 has caused and have a responsibility to look out for the livelihoods and safety of our personnel, many of whom rely on us and have been out of work for weeks due to the impacts of shelter-in-place orders.
							a(href="one-news.html").news.typography.wow.flipInX
								.news__wrap
									.news__img
										img(src="images/news.jpg", alt="")
									.news__info
										h4 May
										span Getting Back to Work
										h4 Getting Back to Work.The Tesla Team May 9, 2020
										p Tesla is the last major carmaker remaining in California, and the largest manufacturing employer in the State with more than 10,000 employees at our Fremont factory and 20,000 statewide. We understand the impacts COVID-19 has caused and have a responsibility to look out for the livelihoods and safety of our personnel, many of whom rely on us and have been out of work for weeks due to the impacts of shelter-in-place orders.

						.btn-wrap
							a(href="one-news.html").section-link more news


		block footer
			include ../blocks/footer/footer