.bg {
    background: #000;
    background-size: 100%;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0.4;
}

.intro-section{
    background: url('../images/bg-2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #000;
        opacity: .6;
    }
}

.home-bg .bg {
    top: 100vh;
    height: calc(100% - 100vh);
}