.header {
	position: relative;
	padding: 16px 0 0;
	z-index: 10;

	@media screen and (min-width: 768px) {
		padding: 35px 0 0;
	}
	@media screen and (min-width: 1024px) {
		padding: 42px 0 0;
	}
	@media screen and (min-width: 1360px) {
		padding: 53px 0 0;
	}

	.container {
		display: flex;
		align-items: center;
	}

	.logo {
		width: 95px;

		@media screen and (min-width: 1024px) { 
			width: 130px;
		}

		img {
			width: 100%;
		}
	}

	.burger-wrap {
		display: flex;
		align-items: center;
		margin-left: auto;
	}

	.search {
		cursor: pointer;
		width: 29px;
		height: 29px;
		margin-right: 20px;
		background-size: 96%;
		background-position: center;
		background-repeat: no-repeat;
		transition: all .25s ease;
		background-image: url("data:image/svg+xml,%3Csvg width='29' height='29' viewBox='0 0 29 29' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.7261 18.239H19.4162L18.952 17.7913C20.5769 15.9011 21.5552 13.4471 21.5552 10.7776C21.5552 4.82504 16.7301 0 10.7776 0C4.82504 0 0 4.82504 0 10.7776C0 16.7301 4.82504 21.5552 10.7776 21.5552C13.4471 21.5552 15.9011 20.5769 17.7913 18.952L18.239 19.4162V20.7261L26.5294 29L29 26.5294L20.7261 18.239ZM10.7776 18.239C6.64894 18.239 3.31618 14.9062 3.31618 10.7776C3.31618 6.64894 6.64894 3.31618 10.7776 3.31618C14.9062 3.31618 18.239 6.64894 18.239 10.7776C18.239 14.9062 14.9062 18.239 10.7776 18.239Z' fill='white'/%3E%3C/svg%3E%0A");
		// @media screen and (min-width: 768px) {
		// 	margin-right: 70px;
		// }

		&:hover {
			background-image: url("data:image/svg+xml,%3Csvg width='29' height='29' viewBox='0 0 29 29' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.7261 18.239H19.4162L18.952 17.7913C20.5769 15.9011 21.5552 13.4471 21.5552 10.7776C21.5552 4.82504 16.7301 0 10.7776 0C4.82504 0 0 4.82504 0 10.7776C0 16.7301 4.82504 21.5552 10.7776 21.5552C13.4471 21.5552 15.9011 20.5769 17.7913 18.952L18.239 19.4162V20.7261L26.5294 29L29 26.5294L20.7261 18.239ZM10.7776 18.239C6.64894 18.239 3.31618 14.9062 3.31618 10.7776C3.31618 6.64894 6.64894 3.31618 10.7776 3.31618C14.9062 3.31618 18.239 6.64894 18.239 10.7776C18.239 14.9062 14.9062 18.239 10.7776 18.239Z' fill='%23FF008A'/%3E%3C/svg%3E%0A");
		}
	}
}

.nav {
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	right: -100%;
	z-index: -1;
	background-color: rgba(0, 0, 0, .75);
	padding-top: 120px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	transition: all .25s ease;
	@media screen and (min-width: 768px) {
		padding-top: 120px;
	}

	&.active {
		right: 0;
		transition: all .25s ease;
	}

	.soc-wrap {
		display: flex;
		margin-bottom: 100px;

		a {
			margin: 0 30px;
		}
	}
}

.nav-list {
	padding: 0 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 20px;
	
	li {
		margin-bottom: 18px;
		@media screen and (min-width: 1500px) {
			margin-bottom: 40px;
		}
	}

	a {
		font-size: 20px;
		line-height: 24px;
		text-align: center;
		letter-spacing: 0.2em;
		text-transform: uppercase;
		color: #FFFFFF;

		@media screen and (min-width: 1024px) {
			font-size: 30px;
			line-height: 35px;
		}

		&:hover {
			color: $accent;
			text-shadow: 0px 12px 14px #79053F;
		}
	}
}

.soc-wrap {

	a {
		width: 30px;
		height: 30px;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}

	.inst {
		background-image: url("data:image/svg+xml,%3Csvg width='19' height='19' viewBox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.8551 1H4.4248C2.75998 1 1.40552 2.40759 1.40552 4.13771V14.9771C1.40552 16.7072 2.75998 18.1152 4.4248 18.1152H14.8551C16.5199 18.1152 17.8747 16.7076 17.8747 14.9771V4.13771C17.8747 2.40759 16.5203 1 14.8551 1ZM9.63993 15.1918C6.65067 15.1918 4.21855 12.6643 4.21855 9.55739C4.21855 6.45088 6.65067 3.92337 9.63993 3.92337C12.6296 3.92337 15.0617 6.45088 15.0617 9.55739C15.0617 12.6639 12.6292 15.1918 9.63993 15.1918ZM15.236 5.08826C14.5283 5.08826 13.9529 4.49022 13.9529 3.75522C13.9529 3.02023 14.5283 2.42218 15.236 2.42218C15.9432 2.42218 16.5187 3.02023 16.5187 3.75522C16.5187 4.49022 15.9432 5.08826 15.236 5.08826Z' stroke='%23fff'/%3E%3Cpath d='M9.63983 6.30426C7.91419 6.30426 6.50903 7.76371 6.50903 9.55702C6.50903 11.3511 7.91419 12.811 9.63983 12.811C11.3663 12.811 12.7702 11.3511 12.7702 9.55702C12.7702 7.76411 11.3659 6.30426 9.63983 6.30426Z' stroke='%23fff'/%3E%3C/svg%3E%0A");

		&:hover {
			background-image: url("data:image/svg+xml,%3Csvg width='19' height='19' viewBox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.8551 1H4.4248C2.75998 1 1.40552 2.40759 1.40552 4.13771V14.9771C1.40552 16.7072 2.75998 18.1152 4.4248 18.1152H14.8551C16.5199 18.1152 17.8747 16.7076 17.8747 14.9771V4.13771C17.8747 2.40759 16.5203 1 14.8551 1ZM9.63993 15.1918C6.65067 15.1918 4.21855 12.6643 4.21855 9.55739C4.21855 6.45088 6.65067 3.92337 9.63993 3.92337C12.6296 3.92337 15.0617 6.45088 15.0617 9.55739C15.0617 12.6639 12.6292 15.1918 9.63993 15.1918ZM15.236 5.08826C14.5283 5.08826 13.9529 4.49022 13.9529 3.75522C13.9529 3.02023 14.5283 2.42218 15.236 2.42218C15.9432 2.42218 16.5187 3.02023 16.5187 3.75522C16.5187 4.49022 15.9432 5.08826 15.236 5.08826Z' stroke='%23FF008A'/%3E%3Cpath d='M9.63983 6.30426C7.91419 6.30426 6.50903 7.76371 6.50903 9.55702C6.50903 11.3511 7.91419 12.811 9.63983 12.811C11.3663 12.811 12.7702 11.3511 12.7702 9.55702C12.7702 7.76411 11.3659 6.30426 9.63983 6.30426Z' stroke='%23FF008A'/%3E%3C/svg%3E%0A");
		}
	}

	.fb {
		background-image: url("data:image/svg+xml,%3Csvg width='19' height='19' viewBox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.7091 1.11523H3.2908C2.02565 1.11523 1 2.14084 1 3.40602V15.8244C1 17.0895 2.02561 18.1152 3.2908 18.1152H9.41549L9.42593 12.0403H7.84766C7.64257 12.0403 7.47609 11.8745 7.4753 11.6693L7.46771 9.71116C7.46692 9.50498 7.63389 9.33735 7.84013 9.33735H9.41555V7.44525C9.41555 5.2495 10.7565 4.05389 12.7153 4.05389H14.3227C14.5283 4.05389 14.6951 4.22061 14.6951 4.4263V6.07744C14.6951 6.28305 14.5284 6.44973 14.3228 6.44985L13.3365 6.45031C12.2712 6.45031 12.0649 6.9565 12.0649 7.69933V9.33741H14.4057C14.6287 9.33741 14.8018 9.53212 14.7755 9.75366L14.5434 11.7118C14.5211 11.8992 14.3622 12.0404 14.1735 12.0404H12.0754L12.0649 18.1152H15.7092C16.9744 18.1152 18 17.0896 18 15.8245V3.40602C17.9999 2.14084 16.9744 1.11523 15.7091 1.11523Z' stroke='white'/%3E%3C/svg%3E%0A");

		&:hover {
			background-image: url("data:image/svg+xml,%3Csvg width='19' height='19' viewBox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.7091 1.11523H3.2908C2.02565 1.11523 1 2.14084 1 3.40602V15.8244C1 17.0895 2.02561 18.1152 3.2908 18.1152H9.41549L9.42593 12.0403H7.84766C7.64257 12.0403 7.47609 11.8745 7.4753 11.6693L7.46771 9.71116C7.46692 9.50498 7.63389 9.33735 7.84013 9.33735H9.41555V7.44525C9.41555 5.2495 10.7565 4.05389 12.7153 4.05389H14.3227C14.5283 4.05389 14.6951 4.22061 14.6951 4.4263V6.07744C14.6951 6.28305 14.5284 6.44973 14.3228 6.44985L13.3365 6.45031C12.2712 6.45031 12.0649 6.9565 12.0649 7.69933V9.33741H14.4057C14.6287 9.33741 14.8018 9.53212 14.7755 9.75366L14.5434 11.7118C14.5211 11.8992 14.3622 12.0404 14.1735 12.0404H12.0754L12.0649 18.1152H15.7092C16.9744 18.1152 18 17.0896 18 15.8245V3.40602C17.9999 2.14084 16.9744 1.11523 15.7091 1.11523Z' stroke='%23FF008A'/%3E%3C/svg%3E%0A");
		}
	}

	.you {
		background-image: url("data:image/svg+xml,%3Csvg width='19' height='19' viewBox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.0573 2.38196C16.4694 1.48224 15.384 1.11523 13.3111 1.11523H5.78641C3.66605 1.11523 2.56224 1.50591 1.97655 2.4638C1.40552 3.39775 1.40552 4.77384 1.40552 6.6784V12.4775C1.40552 16.1673 2.08304 18.0406 5.78641 18.0406H13.3111C15.1088 18.0406 16.1049 17.7168 16.7493 16.9228C17.4102 16.1086 17.6921 14.7791 17.6921 12.4775V6.6784C17.6921 4.66988 17.648 3.28567 17.0573 2.38196ZM12.513 9.71762C12.3395 9.83436 8.44465 12.0167 8.44465 12.0167C8.36826 12.0681 8.28473 12.0936 8.2013 12.0936C8.10683 12.0936 8.01258 12.0609 7.9291 11.9958C7.77191 11.8732 7.67592 11.6538 7.67592 11.4172V6.83381C7.67592 6.59761 7.77164 6.37847 7.92852 6.25577C8.08545 6.13307 8.28063 6.12469 8.44344 6.23359L12.5118 8.51786C12.6857 8.63406 12.7949 8.86511 12.7951 9.1172C12.7953 9.36949 12.6866 9.60088 12.513 9.71762Z' stroke='white'/%3E%3C/svg%3E%0A");

		&:hover {
			background-image: url("data:image/svg+xml,%3Csvg width='19' height='19' viewBox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.0573 2.38196C16.4694 1.48224 15.384 1.11523 13.3111 1.11523H5.78641C3.66605 1.11523 2.56224 1.50591 1.97655 2.4638C1.40552 3.39775 1.40552 4.77384 1.40552 6.6784V12.4775C1.40552 16.1673 2.08304 18.0406 5.78641 18.0406H13.3111C15.1088 18.0406 16.1049 17.7168 16.7493 16.9228C17.4102 16.1086 17.6921 14.7791 17.6921 12.4775V6.6784C17.6921 4.66988 17.648 3.28567 17.0573 2.38196ZM12.513 9.71762C12.3395 9.83436 8.44465 12.0167 8.44465 12.0167C8.36826 12.0681 8.28473 12.0936 8.2013 12.0936C8.10683 12.0936 8.01258 12.0609 7.9291 11.9958C7.77191 11.8732 7.67592 11.6538 7.67592 11.4172V6.83381C7.67592 6.59761 7.77164 6.37847 7.92852 6.25577C8.08545 6.13307 8.28063 6.12469 8.44344 6.23359L12.5118 8.51786C12.6857 8.63406 12.7949 8.86511 12.7951 9.1172C12.7953 9.36949 12.6866 9.60088 12.513 9.71762Z' stroke='%23FF008A'/%3E%3C/svg%3E%0A");
		}
	}
}

.lang {
	margin-right: 55px;
	position: relative;

	&__current {
		font-family: 'Lato';
		font-style: normal;
		font-weight: 500;
		font-size: 18px;
		line-height: 22px;
		letter-spacing: 0.2em;
		text-transform: uppercase;
		color: #FFFFFF;
		transition: all .3s ease;
		cursor: pointer;
		width: 30px;
		display: block;

		&:hover {
			color: $accent;
		}
	}

	&__wrap {
		display: none;
		position: absolute;
		top: 30px;
		left: 0;

		&.active {
			display: flex;
			flex-direction: column;
		}

		a {
			font-family: 'Lato';
			font-style: normal;
			font-weight: 500;
			font-size: 18px;
			line-height: 22px;
			letter-spacing: 0.2em;
			text-transform: uppercase;
			color: #FFFFFF;

			&:hover {
				color: $accent;
			}
		}
	}
}

.burger {
	position: fixed;
	width: 32px;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-left: 100px;

	span {
		width: 32px;
		height: 6px;
		background: #FFFFFF;
		border-radius: 2px;
		transition: all .25s ease;
		position: relative;

		&:nth-child(1) {
			margin-bottom: 5px;
		}

		&:nth-child(3) {
			margin-top: 5px;
		}
	}
	@media screen and (min-width: 768px) {
		&:hover {
			transition: all .25s ease;
			span {
				background: $accent;
				&:nth-child(2) {
					width: 17px;
				}
			}
		}
	}

	&.active {
		span {

			&:nth-child(1) {
				top: 11px;
				margin-bottom: 5px;
				transform: rotate(45deg);
			}

			&:nth-child(2) {
				transform: translateX(100px);
				opacity: 0;
			}

			&:nth-child(3) {
				bottom: 11px;
				margin-top: 5px;
				transform: rotate(-45deg);
			}
		}
	}
}