footer.footer
	.container.container_width
		a(href="#").footer-text.site-map  Locations
		p.footer-text.copyright Tesla © 2020 
		.footer-img
			img(src="images/logo.svg", alt="")

.mask.js-mask



.modal.modal-contact.js-contacts
	.contact-wrap.contact-wrap_line
		.modal-close.js-modal-close
		span.thanks-title отправка резюме
			br
			| на вакансию

		form(action="#").resumeForm
			.resumeForm__wrap
				.resumeForm__input-wrap
					input(type="text" placeholder="Фамилия").resumeForm__input
				.resumeForm__input-wrap
					input(type="text" placeholder="Имя").resumeForm__input
				.resumeForm__input-wrap
					input(type="text" placeholder="Email").resumeForm__input
					span.resumeForm__error.js-error введите корректный email
				.resumeForm__input-wrap
					input(type="text" placeholder="Контактный телефон").resumeForm__input
					span.resumeForm__error.js-error введите корректный номер телефона
				.resumeForm__file
					input(type="file").resumeForm__input-file
					lable().resumeForm__lable-file Добавьте файл резюме
				p.resumeForm__format Форматы файлов: doc, docx, rtf, txt, odt, pdf (2 Мб максимум)

				.resumeForm__latter-wrap
					a(href="#").resumeForm__latter Добавить сопроводительное  письмо
					span.resumeForm__dispensable необязательно
				
				button(type="submit").resumeForm__btn отправить резюме


.modal.modal-contact.js-thanks
	.contact-wrap
		.modal-close.js-modal-close

		span.thanks-title.thanks-title_purple спасибо!
		p.thanks-text ваше резюме на рассмотрении. В ближайшее время, сотрудники нашей компании свяжутся с вами.