.sphere__container
  .sphere__wrap
    .sphere__circle.sphere__horizontal.sphere__c1
      .sphere__wrap-electron
        .sphere__circle.sphere__electron
    .sphere__circle.sphere__vertical.sphere__c1
      .sphere__wrap-electron
        .sphere__circle.sphere__electron
  .sphere__wrap.sphere__r
    .sphere__circle.sphere__horizontal.sphere__c2
      .sphere__wrap-electron
        .sphere__circle.sphere__electron
    .sphere__circle.sphere__vertical.sphere__c2
      .sphere__wrap-electron
        .sphere__circle.sphere__electron
    .sphere__circle.sphere__center