.error-section {
	padding: 8vw 0;

	@media screen and (min-width: 1300px) {
		padding: 50px 0 100px;
	}

	.container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.error {
		font-weight: 900;
		font-size: 146px;
		line-height: 1;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		color: #010101;
		opacity: 0.7;
		text-shadow: 0px 0px 74.9395px rgba(255, 0, 138, 0.5);
		margin: 0 0 25px;
		@media screen and (min-width: 768px) {
			font-size: 200px;
		}
		@media screen and (min-width: 1600px) {
			font-size: 300px;
			margin-bottom: 45px;
		}
	}

	.error-text {
		font-size: 10px;
		line-height: 1.5;
		text-align: center;
		letter-spacing: 0.2em;
		text-transform: uppercase;
		color: #FFFFFF;
		opacity: 0.7;
		margin-bottom: 10px;
		@media screen and (min-width: 768px) {
			font-size: 16px;
		}
		@media screen and (min-width: 1600px) {
			font-size: 20px;
			max-width: 730px;
		}
	}

	.error-link  {
		font-size: 12px;
		line-height: 14px;
		text-align: center;
		letter-spacing: 0.2em;
		text-transform: uppercase;
		color: #FF419F;
		margin-top: 70px;
		@media screen and (min-width: 768px) {
			font-size: 16px;
		}
		@media screen and (min-width: 1600px) {
			font-size: 20px;
			margin-top: 40px;
		}

		&:hover {
			color: #fff;
		}
	}
}