.history-bg {
	position: relative;
	
	&:before {
		@media screen and (min-width: 768px) {
			content: '';
			position: absolute;
			top: 0;
			right: 15px;
			width: 313px;
			height: 100%;
			background-repeat: no-repeat;
			background-size: cover;
		}
		@media screen and (min-width: 1024px) {
			width: 380px;
			background-position: center;
		}
		@media screen and (min-width: 1200px) {
			width: 435px;
		}
		@media screen and (min-width: 1605px) {
			right: auto;
			left: calc(50% + 350px);
		}
	}
}

.history-section {
	padding: 65px 0;
	@media screen and (min-width: 1024px) {
		padding: 80px 0 0;
	}
}

.achievements-sticky {
	@media screen and (min-width: 1024px) {
		position: sticky;
		top: 10px;
		z-index: 2;
	}
}

.achievements-wrap {
	@media screen and (min-width: 768px) {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -12px;
	}
	@media screen and (min-width: 1200px) {
		
	}
}

.achievement {
	margin-bottom: 15px;
	@media screen and (min-width: 768px) {
		width: 50%;
		min-height: 210px;
		padding: 0 12px;
		margin-bottom: 24px;
	}
	@media screen and (min-width: 1024px) {
		width: 33.33%;
		min-height: 205px;
	}
	@media screen and (min-width: 1200px) {
		padding: 0 20px;
	}

	&:first-child {
		padding-left: 0;
	}
	&:last-child {
		padding-right: 0;
	}

	&__wrap {
		height: 100%;
		padding: 30px 18px;
		position: relative;
		background: #000000;
		box-shadow: 0px 26px 62px rgba(0, 76, 255, 0.17), inset 0px 4px 4px #091133;
		border-radius: 22px;
		display: flex;
		flex-direction: column;
		@media screen and (min-width: 1200px) {
			padding: 20px;
		}
	}

	&__count {
		font-size: 18px;
		line-height: 1;
		letter-spacing: 0.1em;
		text-transform: uppercase;
		color: $accent;
		margin-bottom: 15px;
	}

	&__name {
		font-size: 18px;
		letter-spacing: 0.2em;
		text-transform: uppercase;
		color: #FFFFFF;
		margin-bottom: 20px;
	}

	&__info {
		font-weight: 500;
		font-size: 14px;
		line-height: 17px;
		letter-spacing: 0.2em;
		color: #FFFFFF;
		opacity: 0.4;
		@media screen and (min-width: 1200px) {
			font-size: 16px;
			line-height: 20px;
		}
	}

	&__icon {
		position: absolute;
		top: 22px;
		right: 22px;
		border-radius: 50%;
		border: 1px solid $accent;
		width: 38px;
		height: 38px;
		background-repeat: no-repeat;
		background-size: 50%;
		background-position: center;
		@media screen and (min-width: 1200px) {
			width: 45px;
			height: 45px;
		}

		&_point {
			background-image: url("data:image/svg+xml,%3Csvg width='20' height='24' viewBox='0 0 20 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='10.2333' cy='9.84074' r='3.85442' stroke='white' stroke-width='1.5'/%3E%3Cpath d='M19.101 9.98947C19.101 10.9316 18.7369 12.0702 18.0892 13.3263C17.4476 14.5707 16.5608 15.8675 15.5925 17.1091C13.6562 19.5919 11.4462 21.7881 10.3732 22.8115C10.2923 22.8886 10.1759 22.8886 10.095 22.8115C9.02194 21.7881 6.81195 19.5919 4.87569 17.1091C3.90735 15.8675 3.0206 14.5707 2.37894 13.3263C1.73125 12.0702 1.36719 10.9316 1.36719 9.98947C1.36719 5.09241 5.33704 1.12256 10.2341 1.12256C15.1312 1.12256 19.101 5.09241 19.101 9.98947Z' stroke='white' stroke-width='1.5'/%3E%3C/svg%3E%0A");
		}

		&_goods {
			background-image: url("data:image/svg+xml,%3Csvg width='18' height='17' viewBox='0 0 18 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.71268 8.03529C2.90108 9.11194 3.83598 9.89746 4.929 9.89746L8.50488 9.89746L12.4187 9.89746C13.3946 9.89746 14.2592 9.26838 14.5595 8.33986L15.7942 4.52219C16.2642 3.069 15.1807 1.57978 13.6534 1.57978L4.26096 1.57979C2.86322 1.57979 1.80371 2.8408 2.04463 4.21761L2.71268 8.03529Z' stroke='white' stroke-width='1.5'/%3E%3Ccircle cx='3.8016' cy='14.4671' r='1.60433' fill='white'/%3E%3Ccircle cx='14.3505' cy='14.5072' r='1.64445' fill='white'/%3E%3C/svg%3E%0A");
		}

		&_work {
			background-image: url("data:image/svg+xml,%3Csvg width='18' height='24' viewBox='0 0 18 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='9.23332' cy='5.56926' r='3.85442' stroke='white' stroke-width='1.5'/%3E%3Cpath d='M16.8091 17.8886C16.8091 19.5324 16.052 20.6006 14.7619 21.3035C13.4166 22.0366 11.4827 22.3676 9.23415 22.3676C6.9698 22.3676 5.0388 22.0856 3.69733 21.3782C3.03934 21.0312 2.53993 20.5907 2.20162 20.0425C1.86414 19.4958 1.65918 18.7971 1.65918 17.8886C1.65918 16.9802 1.86414 16.2815 2.20162 15.7347C2.53993 15.1866 3.03934 14.746 3.69733 14.3991C5.0388 13.6917 6.9698 13.4097 9.23415 13.4097C11.4827 13.4097 13.4166 13.7406 14.7619 14.4737C16.052 15.1767 16.8091 16.2448 16.8091 17.8886Z' stroke='white' stroke-width='1.5'/%3E%3C/svg%3E%0A");
		}
	}
	h4{
		font-size: 16px;
	}
}

.history-wrap {
	position: relative;
	z-index: 1;
	padding: 20px 0 50px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	@media screen and (min-width: 768px) {
		padding: 48px 0 0 0;
	}
	@media screen and (min-width: 1024px) {
		padding: 260px 0 0;
	}
	@media screen and (min-width: 1200px) {
		padding: 330px 0 0;
	}
	@media screen and (min-width: 1920px) {
		padding: 256px 0 0;
	}
}

.history {
	display: flex;
	margin-bottom: 60px;
	@media screen and (min-width: 768px) {
		margin-bottom: 118px;
	}
	@media screen and (min-width: 1024px) {
		margin-bottom: 175px;
	}
	@media screen and (min-width: 1200px) {
		max-width: 1100px;
		width: 100%;
		margin-bottom: 233px;
	}
	&__info {
		display: flex;
		flex-direction: column;
		align-items: flex-end;

		p {
			text-align: right;
		}
	}

	&__text {
		@media screen and (min-width: 768px) {
			height: 160px;
			overflow: hidden;
			overflow-y: auto;
			padding: 0 20px 0 0;
		}
	}

	&__img {
		display: none;
		@media screen and (min-width: 768px) {
			display: block;
			flex: none;
			width: 338px;
			height: 338px;
			overflow: hidden;
			margin: 0 88px 0 100px;
		}
		@media screen and (min-width: 1024px) {
			width: 400px;
			height: 400px;
			margin: 0 111px 0 120px;
		}
		@media screen and (min-width: 1200px) {
			width: 500px;
			height: 500px;
			margin: 0 127px 0 140px
		}

		img {
			width: 100%;
		}
	}

	.typography {
		h2 {
			@media screen and (min-width: 768px) {
				margin-right: 20px;
			}
		}

		p {
			@media screen and (min-width: 1024px) {
				font-size: 16px;
			}
		}
	}
}