.home-page {
  overflow: hidden;
  transform: translateY(-93px);
  padding-top: 93px;
}
.intro-section {
  padding: 10vw 0;
  position: relative;
  @media screen and (min-width: 1360px) {
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding: 100px 0 150px;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    z-index: 2;
    position: relative;
  }

  .intro-wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @media screen and (min-width: 768px) {
      max-width: 380px;
    }
    @media screen and (min-width: 1024px) {
      max-width: 740px;
    }
  }

  .video-link {
    position: relative;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #ffffff;
    padding-left: 70px;
    margin-top: 30px;

    &:hover {
      color: $accent;
    }

    &:before {
      content: "";
      position: absolute;
      width: 47px;
      height: 47px;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      background-size: 95%;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url("data:image/svg+xml,%3Csvg width='47' height='48' viewBox='0 0 47 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M28.1294 23.5671C28.7867 23.9537 28.7867 24.9043 28.1294 25.2909L22.1486 28.809C21.482 29.2012 20.6416 28.7205 20.6416 27.9471L20.6416 20.9109C20.6416 20.1375 21.482 19.6568 22.1486 20.049L28.1294 23.5671Z' stroke='white' stroke-width='2'/%3E%3Ccircle cx='23.5' cy='24.0781' r='23' stroke='%23FF419F'/%3E%3C/svg%3E%0A");
    }
  }

  .soc-wrap {
    display: none;

    @media screen and (min-width: 768px) {
      display: flex;
      flex-direction: column;
    }

    a {
      width: 15px;
      height: 15px;
      margin-top: 30px;
      @media screen and (min-width: 1024px) {
        margin-top: 60px;
        width: 20px;
        height: 20px;
      }
    }
  }
}

.video {
  position: relative;
  display: none;
  z-index: 5;
  #video {
	position: absolute;
	top: -100px;
	width: 100%;
	height: 600px;
    display: block;
    font-family: "object-fit:cover";
    -o-object-fit: cover;
    object-fit: cover;

    @media screen and (max-width: 1100px) {
      margin-top: 40px;
      height: 500px;
    }
    @media screen and (max-width: 920px) {
      margin-top: 40px;
      height: 350px;
    }
    @media screen and (max-width: 720px) {
      margin-top: 70px;
      height: 350px;
    }
    @media screen and (max-width: 420px) {
      margin-top: 90px;
      height: 350px;
    }
  }
  .fa-times{
    position: absolute;
    top: -80px;
    right: 50px;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
    z-index: 8;
    @media screen and (max-width: 1100px) {
      top: -40px;
    }
    @media screen and (max-width: 920px) {
      top: -40px;
    }
    @media screen and (max-width: 720px) {
      top: -10px;
    }
    @media screen and (max-width: 720px) {
      top: 10px;
    }
  }
 
}

.about-first-section {
  padding-bottom: 8vw;

  &-sphere {
    opacity: 0.4;
    position: absolute;
    left: 95%;
    top: 5%;
  }

  @media screen and (min-width: 1360px) {
    padding-bottom: 165px;
  }

  .link-wrap {
    display: flex;
    justify-content: flex-end;
    animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-transform-origin: bottom;
    -ms-transform-origin: bottom;
    transform-origin: bottom;
    -webkit-animation-name: bounce-2;
    animation-name: bounce-2;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;

    span {
      text-align: center;
    }
  }
}

.partner-section {
  padding-bottom: 8vw;

  @media screen and (min-width: 1360px) {
    padding-bottom: 150px;
  }

  .typography {
    display: flex;
    justify-content: flex-end;
  }

  .partner-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .partner {
    position: relative;
    z-index: 1;
    transition: all 0.25s ease;
    animation: myOrbit 10s infinite linear;
    &:nth-child(2n) {
      animation-duration: 7s;
      animation-direction: reverse;
    }
    &:nth-child(3n) {
      animation-duration: 5s;
    }

    @media screen and (min-width: 1024px) {
      &:hover {
        z-index: 2;
        img {
          transform: translate(-50%, -50%) scale(1.1);
        }
        &:before {
          background-color: $accent;
          opacity: 0.5;
          transition: all 0.25s ease;
          transform: translate(-50%, -50%) scale(1.2);
          box-shadow: 0 0 10px 10px $accent;
        }
      }
    }

    img {
      width: 62%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: all 0.1s ease;
    }
    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 122%;
      height: 122%;
      border-radius: 50%;
      transition: all 0.25s ease;
      background-color: $accent;
      opacity: 0.5;
      filter: blur(3px);

      @media screen and (min-width: 1024px) {
        background-color: #747474;
        opacity: 0.17;
        box-shadow: 0px 11px 75px #000000;
        filter: blur(0px);
      }
    }

    &.big {
      width: 142px;
      height: 142px;
      @media screen and (min-width: 768px) {
        width: 206px;
        height: 206px;
      }
      @media screen and (min-width: 1024px) {
        width: 316px;
        height: 316px;
      }
    }

    &.middle {
      width: 108px;
      height: 108px;
      @media screen and (min-width: 768px) {
        width: 179px;
        height: 179px;
      }
      @media screen and (min-width: 1024px) {
        width: 220px;
        height: 220px;
      }
    }

    &.small {
      width: 78px;
      height: 78px;
      @media screen and (min-width: 768px) {
        width: 122px;
        height: 122px;
      }
      @media screen and (min-width: 1024px) {
        width: 170px;
        height: 170px;
      }
    }

    &.center {
      margin: auto 0;
    }

    &.top {
      margin: 0 0 auto 0;
    }

    &.bottom {
      margin: auto 0 0 0;
    }
  }

  .empty {
    width: 80px;
    height: 80px;
  }

  .container {
    z-index: 2;
    position: relative;
  }

  &-sphere {
    position: absolute;
    opacity: 0.3;
    z-index: -1;
    &--left {
      right: 90%;
      top: 5%;
    }
    &--right {
      left: 95%;
      bottom: 30%;
    }
  }
}

.vacancy-slider-section {
  padding-bottom: 8vw;

  @media screen and (min-width: 1360px) {
    padding-bottom: 200px;
  }

  .vacancy-wrap {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
    @media screen and (min-width: 1200px) {
      margin-bottom: 100px;
    }
  }

  .vacant {
    width: 152px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;

    &__img {
      width: 100px;
      height: 100px;
      overflow: hidden;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 15px;
      @media screen and (min-width: 1360px) {
        width: 110px;
        height: 110px;
        margin-bottom: 20px;
      }

      img {
        width: 100%;
      }
    }

    &__name {
      font-size: 14px;
      line-height: 1.2;
      text-align: center;
      letter-spacing: 0.05em;
      color: #ffffff;
      margin-bottom: 25px;
      @media screen and (min-width: 1360px) {
        font-size: 16px;
        line-height: 1.6;
      }
    }

    &__link {
      width: 35px;
      height: 35px;
      text-align: center;
      font-size: 15px;
      color: $accent;
      border: 1px solid $accent;
      border-radius: 50%;
      padding: 8px;
      font-weight: 700;
      outline: none;
      @media screen and (min-width: 1360px) {
        width: 50px;
        height: 50px;
        padding: 13px;
        font-size: 20px;
      }

      &:hover {
        background-color: $accent;
        color: #fff;
      }
    }
  }
}

@keyframes myOrbit {
  from {
    transform: rotate(0deg) translateX(10px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(10px) rotate(-360deg);
  }
}
