.product-section {
	padding: 8vw 0;

	@media screen and (min-width: 1200px) {
		padding: 120px 0 60px;
	}

	.typography {
		span {
			margin-bottom: 10px;
		}

		h2 {
			&:before {
				top: -40px;
				left: 8px;
				transform: translate(0) rotate(90deg);
				@media screen and (min-width: 1024px) {
					top: -18px;
					left: -65px;
				}
			}
		}
	}

	.product-container {
		display: flex;
		align-items: center;
		flex-direction: column;
		padding: 0 40px;
		@media screen and (min-width: 1024px) {
			flex-direction: row;
			align-items: center;
			margin: 0 -15px;
		}
	}

	.product-img {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 76px;
		@media screen and (min-width: 768px) {
			margin: 0 0 48px;
		}
		@media screen and (min-width: 1024px) {
			margin: 0;
			width: 50%;
			padding: 0 15px;
		}
		@media screen and (min-width: 1200px) {
			width: 40%;
		}
	}
	.product-description{
		ul{
			li{
				display: flex;
				justify-content: space-between;
				padding: 15px;
				border-bottom: 1px solid #fff;
				span{
					color: #fff;
					@media screen and (max-width:600px) {
						font-size: 12px;
					}
					@media screen and (max-width:460px) {
						font-size: 8px;
					}
				}
			}
		}
	}

	.img-wrap {
		margin-bottom: 30px;
		img{
			width: 600px;
			height: 600px;
		}
		
	}

	.product-description {
		max-width: 600px;
		width: 100%;
		@media screen and (min-width: 1024px) {
			width: 50%;
			padding: 0 15px;
		}
		@media screen and (min-width: 1200px) {
			width: 60%;
		}
	}
}

.production-section {
	padding: 8vw 0;
	@media screen and (min-width: 1200px) {
		padding: 60px 0 120px;
	}

	.typography {
		display: flex;
		justify-content: center;
		margin-bottom: 60px;
	}
}

.production-wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 50px;
}

.production {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	z-index: 1;
	margin: 0 0 60px;

	@media screen and (min-width: 480px) {
		width: 50%;
	}
	@media screen and (min-width: 768px) {
		width: 33.33%;
	}

	&:hover {
		.production__img {
			opacity: 1;
			&:after {
				animation: pulse 1.8s linear infinite;
			}
		}
	}

	&__img {
		margin-bottom: 18px;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		min-height: 200px;
		height: 100%;
		opacity: 0.6;
		transition: .3s ease;
		@media screen and (min-width: 768px) {
			min-height: 260px;
		}
		@media screen and (min-width: 1024px) {
			min-height: 320px;
		}

		img {
			width: 230px;
			border-radius: 15px;
			// box-shadow: 0px 26px 62px rgba(255, 0, 138, 0.17);
		}

		&:before {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%); 
			width: 260px;
			height: 260px;
			border: 1px solid $accent;
			border-radius: 50%;
			z-index: -1;
		}
		&:after {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%); 
			width: 313px;
			height: 313px;
			border: 1px solid $accent;
			border-radius: 50%;
			z-index: -1;
			opacity: 0;
		}
	}

	&__name {
		font-size: 14px;
		line-height: 1.4;
		text-align: center;
		letter-spacing: 0.2em;
		text-transform: uppercase;
		color: #FFFFFF;
		@media screen and (min-width: 768px) {
			font-size: 16px;
			line-height: 19px;
		}
	}
}

@keyframes pulse {
	0% {
		transform: translate(-50%, -50%) scale(0.8);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		transform: translate(-50%, -50%) scale(1.1);
		opacity: 0;
	}
}